{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lista de Monografías Papeleria Micky's{% endblock %}</title>
{#    <link rel="icon" href="{% static 'website/images/porg.png' %}" type="image/png"/>#}
{#    <link rel="shortcut icon" href="{% static 'website/images/porg.png' %}" type="image/png"/>#}
    <link rel="icon" href="https://milnersblog.files.wordpress.com/2017/08/star-wars-the-last-jedi-find-the-force-character-profiles-porg.png" type="image/png"/>
    <link rel="shortcut icon" href="https://milnersblog.files.wordpress.com/2017/08/star-wars-the-last-jedi-find-the-force-character-profiles-porg.png" type="image/png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{% block content-title %}Lista de Monografías{% endblock %}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="{% url 'main_page' %}">Lista</a>
                <a href="{% url 'new_monograph' %}" class="mdl-navigation__link">Nueva Monografía</a>
{#                <a href="{% url 'logout' %}" class="mdl-navigation__link">Logout</a>#}
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a href="{% url 'new_monograph' %}" class="mdl-navigation__link">Agregar Monografía</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div id='loading'
                 class="mdl-cell mdl-cell--12-col mdl-progress mdl-js-progress mdl-progress__indeterminate"
                 style="display: none;"></div>

            <div id="toast" class="mdl-snackbar mdl-js-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button type="button" class="mdl-snackbar__action"></button>
            </div>

            {% block content %}
            {% endblock %}
            <footer style="position: relative; bottom: 15px; width: 50%; left: 300px;">
                <p align="center" style="font-size: xx-small;">Papelería Micky's Lista de monografías v2.0</p>
            </footer>
        </div>
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'website/js/monograph_data_table_script.js' %}"></script>


{% block scripts %}
{% endblock %}
</body>

</html>