{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <h2 class="subhead">Agregar Monografía</h2>
        </div>
        <form method="post" class="col-md-4" enctype="multipart/form-data" action={% url "new_monograph" %}>
            {% csrf_token %}
            <table class="mdl-data-table mdl-shadow--2dp table-responsive">
                {{ form }}
            </table>
            <div class="form-group">
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Agregar
                </button>
            </div>
        </form>
    </div>

{% endblock %}