{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="mdl-cell mdl-cell--12-col">
        <form id="update" action="" method="post">
            {% csrf_token %}
            <table class="mdl-data-table mdl-shadow--2dp table-responsive">
                {{ form }}
            </table>
            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Guardar
            </button>
        </form>
    </div>
{%  endblock %}